/*overall*/
html{font-family: 'Free Serif', sans-serif;}
body{padding:0px; margin:0px; background-color: black;}

/*header/footer*/
header{background-color: #1d1d1d;}
footer{background-color: #1d1d1d;}

/*text*/
h1{color: #ffffff;  text-align: left;}
h4{color: #ffffff;  text-align: left;}
h5{color: #ffffff;  text-align: left;}
p{color: #ffffff; text-align: left;line-height: 1.5;}

/*nav menu*/
ul {list-style-type: none; margin: 0; padding: 0; overflow: hidden; background-color: #1d1d1d;}
li {float: left; font-weight: bold;}
li a {display: block; color: #c12300 ;text-align: center;padding: 5px 10px; text-decoration: none;}
li a:hover {background-color: white; color: #1d1d1d;}

/*sections*/
section {display: flex; gap: 10px; flex-wrap: wrap; justify-content: center;}
/*contact table*/
table {
  border-collapse: collapse;
  color: white;
  background-color: #1d1d1d;
  text-align: center;
  padding: 10px;
  text-align: left;
}
td{padding: 3px;}

label{color: white;}
