/*overall*/
html{font-family: 'Free Serif', sans-serif;}
body{padding:0; margin:0; background-color: black;}

/*header/footer*/
header{background-color: #1d1d1d;}
footer{background-color: #1d1d1d;}

/*text*/
h1{color: #ffffff;  text-align: left;}
h4{color: #ffffff;  text-align: left;}
p{color: #ffffff; text-align: left;line-height: 1.5;}

/*nav menu*/
ul {list-style-type: none; margin: 0; padding: 0; overflow: hidden; background-color: #1d1d1d;}
li {float: left; font-weight: bold;}
li a {display: block; color: #c12300 ;text-align: center;padding: 5px 10px; text-decoration: none;}
li a:hover {background-color: white; color: #1d1d1d;}

/*div*/
.wrapper {display: grid; grid-template-columns: repeat(2, 1fr); gap: 10px;}
.one {grid-column: 2;grid-row: 1; justify-content: space-evenly;}
.two {grid-column: 1;grid-row: 1; justify-content: space-evenly;}
